<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo_MRC_ARC_BLOCK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>700D60B11F01FC70003F4B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>700D60CD1F01FC70003F4B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>700D60D81F01FC70003F4B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
